header h1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: red;
}
ol, ul {
	list-style: none;
}
header h2{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: green;
}
li {
    display: inline;
}
body {
    max-width: 1000px;
    display: flex;
}
.summary {
    background-color: blue;
    width: 1000px;
    height: auto;
    float: left;
}
.preamble {
    background-color: cyan;
    width: 500px;
    height: auto;
    float: left;
}
.explanation {
    background-color: green;
    width: 500px;
    height: auto;
    float: left;
}
.participation {
    background-color: yellow;
    width: 333px;
    height: auto;
    float: left;
}
.benefits {
    background-color: red;
    width: 333px;
    height: auto;
    float: left;
}
.requirements {
    background-color: violet;
    width: 333px;
    height: auto;
    float: left;
}
